<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Add Item To Project</title>


    <style>
        table {
          border-collapse: collapse;
          width: 50%;
        }

        th, td {
          padding: 8px;
          text-align: left;
          border-bottom: 1px solid #ddd;
        }
        th{
        background-color: #04AA6D;

        }
        tr:hover {background-color: light-blue;}
    </style>

</head>
<body>

<div th:include="userData"></div>

<p>ID rekordu: <span th:text="${projectId}"></span></p>
<p>Project Number: <span th:text="${projectNumber}"></span></p>


<table>
    <thead>
    <tr>
        <th>Item Name</th>
        <th>Group Number</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="item : ${itemList}">
        <td th:text="${item.itemName}"></td>
        <td th:text="${item.groupNumber}"></td>
    </tr>
    </tbody>
</table>



<form action="#" th:action="@{/addItemToProject/}" th:object="${item}" method="post" onsubmit="return refreshPage()">

    <label for="itemName">Item name:</label>
    <input type="text" id="itemName" th:field="*{itemName}" required />
    <br/>

    <label for="groupNumber">Group number:</label>
    <input type="text" id="groupNumber" th:field="*{groupNumber}" required />
    <br/>

    <button type="submit">Submit</button>
</form>


</body>
</html>