<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Title</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>



    <style>
        #userData{
        position:absolute;
        top:5px;
        right:5px;
        border-radius: 30px;
        background-color:gray;
        width:150px;
        height:150px;
        }

        #userDataName{
        position:absolute;
        top:15px;
        right:25px;
        border-radius: 10% / 50%;
        border-style: solid;
        border-color: DarkCyan;
        background-color:white;
        width:100px;
        text-align: center;
        }

    </style>


</head>
<body>

<div id="userData" th:fragment="userData">
    <p></p>
</div>

<div id="userDataName" sec:authorize="isAuthenticated()">
    <p>First Name: <span th:text="${#authentication.principal.firstName}"></span></p>
    <p>Last Name: <span th:text="${#authentication.principal.lastName}"></span></p>

</div>


<form th:action="@{/logoutPage/}" method="get">
    <button type="submit" class="btn btn-success" style="font-weight: bold; position: absolute; top: 90px; right: 25px"  >Logout!</button>
</form>


</body>
</html>